body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ec5b14;
    --secondary-color: #f8b114;
    --tertiary-color: #ffcd62;
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    background: var(--background-color);
    color: var(--text-color);
}

main {
    margin: 0px 21px;
}

footer {
    text-align: center;
    margin: 21px 0px;
    bottom: 0;
    font-size: 12px;
}

svg {
    fill: var(--text-color);
}

svg:hover {
    fill: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

a {
    color: var(--text-color);
    font-weight: 550;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

button {
    cursor: pointer;
}

.landing-page {
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

.segment-animation {
    width: 100%;
}

header {
    top: 0;
    position: sticky;
    background: var(--background-color);
    width: 100%;
    padding: 9px 21px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu-button {
    background: none;
    border: none;
    padding: 0;
}

.navbar__menu-icon, .navbar__instagram-icon {
    height: 21px;
}

.navbar__instagram-icon {
    margin-right: 9px;
}

.navbar__segment-logo {
    height: 60px;
}

.navbar__icons {
    display: flex;
}

.navbar__links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.paragraph {
    margin-bottom: 10px;
}

.project-container {
    display: flex;
    flex-direction: column;
}

.about-container, .contact-container {
   height: 100vh;
   width: 75%;
}

.project-text {
    width: 75%;
}

.poster {
    max-width: 300px;
    margin-top: 21px;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 21px;
    }

    footer {
        font-size: 15px;
    }

    .navbar__segment-logo {
        height: 69px;
    }

    .navbar__menu-icon, .navbar__instagram-icon {
        height: 27px;
    }

    .project-container {
        flex-direction: row;
    }

    .about-container, .contact-container {
       width: 50%;
    }

    .project-text {
        width: 50%;
    }

    .poster {
        max-width: 600px;
        margin: 21px;
    }
}